.individual{
    // padding-top: 10em;
    min-width: 375px;
    background:linear-gradient(130deg,rgb(240, 235, 233), rgb(82, 61, 45),#555);
    // height: 100vh;   
    align-items: center; 
    justify-content: center;
}

