@import '../../colors.scss';

.body{
    min-width: 375px;
    background:linear-gradient(130deg,rgb(240, 235, 233), rgb(82, 61, 45),#555);
    height: 100vh;    
}
.inicio{
    display: inline-block;    
}
.card{
    background-color: transparent;
    margin-top: 10rem;
    margin-left: 3em;
    border-radius: 1em;
}
.card-title{
    text-align: center;
    padding-top: 1em ;
}
.card-body{        
    border-radius: 1em;
    width: 20em;
    background:linear-gradient(130deg,rgb(255,192,203), rgb(255,182,193),rgb(255,105,180));
}
.card-text{
    text-align: justify;
    height: 8em;
}
.card-img-top{
    border-radius: 1em;
    width: 20em;
    height: 12em;
}
.loading{
    margin-top: 20em;
}
