.box{
    width: 100vw;
    height: 100vh;
    background-image: url('/backgroundOne.jpg');
    display: flex;
    align-items: center;
    justify-content: center;  
  }
  input{    
    font-family: Comic Sans MS;
    font-weight: bold;
    font-size: 20px;  
    text-align: center;
  }
  .form{
    width: 40em;
  }
  
  .form,.btn,.h3{
    
    border-radius: 1.5em;
    background:linear-gradient(130deg,rgb(82, 61, 45),#555,rgb(240, 235, 233));
    
  }
  input:hover {  
    background:linear-gradient(130deg,rgb(255,192,203), rgb(255,182,193),rgb(255,105,180));
  }
  .error{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 2em;
    width: 100%;
    font-weight: bold;
    font-size: x-large;
    color: #f00;
  }
